<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="PaqueteriasEntities" connectionString="metadata=res://*/Models.Context.ModelPaqueteria.csdl|res://*/Models.Context.ModelPaqueteria.ssdl|res://*/Models.Context.ModelPaqueteria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MPC-131\SQLEXPRESS;initial catalog=Paqueterias;user id=sa;password=Syst3m2270*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>